body {
	background: url('https://source.unsplash.com/user/joshuaearle/C6duwascOEA') fixed no-repeat center;
}

/* Background for logo */
.logo {
	background-image: url('https://source.unsplash.com/user/dmadventure/Cb9nTN-66F0');
}

/* Make max navigation width */
@media (min-width: 1024px) {
	.top-navbar { display: inline-flex !important; }
}


/* Make # of card */
.tag {
	display: inline-block;
}


/* Tab content on closed */
.tab-content {
	max-height: 0;
	transition: max-height .35s;
}

/* Open and show contect when clicked */
.tab input:checked ~ .tab-content {
	max-height: 100vh;
}

/* Label formatting when open */
.tab input:checked + label {
	padding: 1.25rem;
	border-left-width: 2px;
	border-right-width: 2px;
	border-color: #6574cd;
}
.tab input:checked + label div {
	font-size: 1.25rem;
	border-bottom-width: 2px;
	border-color: #a3b8b4;
	color: #6574cd;
}

/* Icon of Checkbox */
.tab label::after {
	float:right;
	right: 0;
	top: 0;
	display: block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5;
	font-size: 1.25rem;
	text-align: center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

/* Icon formatting on closed */
.tab input[type=checkbox] + label::after {
	content: "+";
	font-weight:bold;
	border-width: 1px;
	border-radius: 9999px;
	border-color: #b8c2cc;
}

/* Icon formatting on open */
.tab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
	background-color: #6574cd;
	color: #f8fafc;
}